<link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">

<section id="service_section">

    <div id="product-list">
        <div class="product-grid">
            <div class="product-card">
                <img src="{{ url_for('static', filename='product2.jpg') }}" alt="Sản phẩm 1">
                <h3> Tắm cho chó</h3>
                <p>Giá: 100.000đ</p>
                <button>Đặt ngay</button>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='product1.jpg') }}" alt="Sản phẩm 2">
                <h3>Tỉa lông mèo</h3>
                <p>Giá: 70.000đ</p>
                <button>Đặt ngay</button>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='product3.jpg') }}" alt="Sản phẩm 3">
                <h3>Trông coi</h3>
                <p>Giá: 50.000đ</p>
                <button>Đặt ngay</button>
            </div>
        </div>
    </div>
</section>
